<!-- logback.xml
 *
 * Copyright May 2018 Tideworks Technology
 * Author: Roger D. Voss
 * MIT License
-->
<configuration scan="true" scanPeriod="30 seconds">

  <property name="log_name" value="avro2parquet"/>
  <property name="log_folder" value="logs"/>

  <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <file>${program.directoryPath}/${log_folder}/${log_name}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>${program.directoryPath}/${log_folder}/${log_name}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 6MB -->
        <maxFileSize>6MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <!-- keep 5 days' worth of history -->
      <maxHistory>5</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="ROLLING" />
    <appender-ref ref="CONSOLE" />
  </root>

</configuration>
